.Climb__Card--Stacked {
    display: flex;
    flex-direction: column;
}

.Climb__Card {
    position: relative;
    overflow: hidden;
}

.Climb__Media--image {
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Climb--ColumnLayout {
  margin-left: auto;
  margin-right: auto;
}

.Climb--ColumnLayout .Climb__Card {
    width: 275px;
}

.Climb--SquareLayout {
    overflow: hidden;
}

.Climb--SquareLayout__square {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

@media (min-width: 700px) {
    .Climb--SquareLayout__square {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media (min-width: 1100px) {
    .Climb--SquareLayout__square {
        width: 33.3333%;
        padding-bottom: 33.3333%;
    }
}

.Climb--SquareLayout__square > .Climb__Card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
